* {box-sizing: border-box;}

body {
  background-color: rgb(144, 237, 234);
  /* background-image: url('../img/langeohnezoom.gif'); */
  background-size: cover;
  align-items: center;
  display: flex;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
}

#movement {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -99;
}

.container {
  color: #ffff;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
  font-size: 4em;
}

li {
  display: inline-block;
  font-size: 3.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
  min-width: 420px;
  margin-top: 8%;
}

li span {
  display: block;
  font-size: 14.5rem;
  text-shadow: 4px 4px #000000;
}

.message {
  font-size: 4rem;
}

#content {
  display: none;
  padding: 1rem;
}

#time {
    padding: 15px;
    margin: 15px 50% 15px 40%;
}

.emoji {
  padding: 0 .25rem;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/* integration index navigation */

section {
  margin: 0 auto;
  max-width: 55rem;
  padding: 1.625rem;
}
section.demo {
  border: 2px dashed #e6e6e6;
  border-radius: .8125rem;
  box-shadow: inset 0px 0px 1.625rem rgba(0, 0, 0, 0.05);
  margin-top: 1.625rem;
  background-color: rgb(255,255,255,.6);
}
.notes {
  color:#111111;
}
[href] .notes {
  color:#e6e6e6;
}
p {
  align-self: center;
}
.content {
  max-width: 100%;

  }
.input_wrapper {
  display: flex;
	align-items: flex-start;
	justify-content: flex;
	flex-direction: column;
  margin-top: 0;
}
.input_class{
  font-size:1em;
  margin-top: 0;
}
.between {
  margin-bottom: .5em;
}
.tabs-container.tabs-processed .tab-panel {
    background-color: rgb(230,230,230,.6);
}

@media (max-width: 850px),(max-height: 765px) {
  li span {
    font-size: 1.3em;
  }
  li {
        margin-top: 3%;
        padding: 0px;
        padding-top: 25px;
      }
  .minutes, .seconds {
    font-size: 1.5em;
  }
  ul {
    margin-block-start: .2em;
    margin-block-end: .2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
  }
}
